<section class="about">
    <h2 id="about-me">Scope of the Workshop</h2>
    <hr class="bar" />

    <div class="simple-text-box">
        <div class="simple-text-box-left">Motivation:</div>
        <div class="simple-text-box-right">
            <p>
                The continuous growth of Internet content, applications and services has resulted in ever more demanding requirements of <i>computing power</i>, <i>scalability</i>, <i>data processing</i>, <i>data storage</i>, <i>energy consumption</i> and <i>transfer speed</i>. To meet this, one solution is the use of the <b><i>cloud paradigm</i></b> for applications and services. It covers a broad range of distributed computing principles as well as related application paradigms, networking approaches or architecture models.
            </p>
        </div>
    </div>

    <div class="simple-text-box">
        <div class="simple-text-box-left">Scope:</div>
        <div class="simple-text-box-right">
            <p>
                This workshop covers the scientific areas around <i>Cloud Networks, Programmability inside Networks, Cloud and Fog Computing principles, Software Defined Networking, Network Function Virtualization,</i> and <i>Software Engineering approaches for Highly Distributed Applications</i>.
            </p>
        </div>
    </div>

    <div class="simple-text-caption">
        <p>
            Submission Link: <a href="https://edas.info/N21285">https://edas.info/N21285</a><br> Paper registration deadline: <s>15. March 2016</s>15. April 2016<br> Paper submission deadline: <s>1. April 2016</s>1. May 2016
        </p>
    </div>

    <div class="about-lock">
        <a href="http://www.input-project.eu"><img class="logo-icon" src="/assets/img/input.png"></a>
        <a href="http://www.arcadia-framework.eu"><img class="logo-icon" src="/assets/img/arcadia.png"></a>
        <a href="http://itc28.org"><img class="logo-icon" src="/assets/img/itc.png"></a>
    </div>

    <div class="simple-text-caption">
        <p>
            The workshop is supported and initiated by the two EC H2020 projects INPUT & ARCADIA. It takes place in the context of the <a href="http://itc28.org"><b>ITC 28 in Würzburg</b></a>.
        </p>
    </div>


    <p>&nbsp;</p>
    <div class=about-lock>
{% include partner_carousel.html %}
    </div>


    <div class="skill-lock"></div>
</section>
