<section id="committee" class="committee">
<h2>Workshop Committee</h2>
<hr class="bar"/>
<div class="about-lock">
</div>
<div class="simple-text">
<div class="i-center">
Workshop co-chairs
</div>
<ul>
<li>Florian Wamser, University of Würzburg, Germany</li>
<li>Roberto Bruschi, Consortium for Telecommunications (CNIT), Genova, Italy</li>
<li>Anastasios Zafeiropoulos, Ubitech, Greece</li>
</ul>

<div class="i-center">
Technical Program Committee    
</div>
<ul>
<li>Chiara Lombardo, Consortium for Telecommunications (CNIT), Genova, Italy</li>
<li>Michael Seufert, University of Würzburg, Germany</li>
<li>Sergios Soursos, Intracom Telecom, Peania, Greece</li>
<li>Ioanna Papafili, Athens University of Economics and Business, Greece</li>
<li>Giovanni Schembra, Giovanni Schembra, Italy</li>
<li>Roman Łapacz, Poznan Supercomputing and Networking Center (PSNC), Poland</li>
<li>Krzysztof Wajda, AGH University of Science and Technology, Kraków, Poland</li>
<li>Manzalini Antonio, Telecom Italia, Italy</li>
<li>Alessandro Rossini, SINTEF, Trondheim, Norway</li>
<li>Matteo Repetto, Consortium for Telecommunications (CNIT), Genova, Italy</li>
<li>Paolo Lago, Consortium for Telecommunications (CNIT), Genova, Italy</li>
<li>Panagiotis Gouvas, Ubitech, Greece</li>
<li>Constantinos Vassilakis, Ubitech, Greece</li>
<li>Thomas Zinner, University of Würzburg, Germany</li>
<li>Martin Collier, Dublin City University, Ireland</li>
<li>Stefan Covaci, Technical University of Berlin, Germany</li>
<li>Antonio Jara, HOP Ubiquitous, Spain</li>
<li>Kostas Tsagkaris, University of Piraeus, Greece</li>
<li>Maciej Mühleisen, Hamburg University of Technology, Germany</li>
</ul>
</div>

<div class="skill-lock"></div></section>
