<section class="topics">
<h2 id="topics">Workshop Program 2016</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
<p>
<b>Monday, September 12, 2016, 11.00 - 17.00</b><br>
<br>
<b>11:00 - 12:00 Welcome & Keynote</b><br>
<ul>
    <li>Keynote Speaker: Robert Birke (IBM Research - Zurich, Switzerland)<br>
    "Ensuring performance in the virtual environment"</li>
</ul>
<b>12:00 - 12:30 Full Paper I</b><br>
<ul>
    <li>"ZOOM: Lightweight SDN-based Elephant Detection" by<br>
    Steffen Gebert; Stefan Gei&szlig;ler; Thomas Zinner; Anh Nguyen-Ngoc; Stanislav Lange; Phuoc Tran-Gia</li>
</ul>
<b>12:30 - 13:00 Short Lunch & Coffee Break</b><br>
<br>
<b>13:00 - 14:30 Full Paper Session I</b><br>
<ul>
    <li>"A Novel Reconfigurable-by-Design Highly Distributed Applications Development Paradigm Over Programmable Infrastructure" by<br>
    Panagiotis Gouvas; Constantinos Vassilakis; Eleni Fotopoulou; Anastasios Zafeiropoulo</li>
    <li>"On the Necessity of Accounting for Resiliency in SFC" by<br>
    Ghada Moualla; Thierry Turletti; Mathieu Bouet; Damien Saucez</li>
    <li>"Automated Decision Making Methods for the Multi-objective Optimization Task of Cloud Service Placement" by<br>
    Michael Seufert; Stanislav Lange; Markus Meixner</li>
</ul>
<b>14:30 - 15:00 Coffee Break</b><br>
<br>
<b>15:00 - 15:30 Invited Demonstration & Live Talk</b>
<ul>
    <li>"An SDN/NFV Telco Operator Platform for Multipoint Video Live Streaming: Design and Prototyping" by<br>
    Giovanni Schembra; Marcello Natale Melita</li>
</ul>
<b>15:30 - 16:30 Full Paper Session II</b><br>
<ul>
    <li>"OpenVolcano: An Open-Source Software Platform for Fog Computing" by<br>
    Roberto Bruschi; Paolo Lago; Chiara Lombardo; Sergio Mangialardi</li>
    <li>"An Analytical Model to Design Processor Sharing for SDN/NFV Nodes" by <br>
    Giuseppe Faraci; Alfio Lombardo; Giovanni Schembra</li>
</ul>
<b>16:30: Closing</b>
</p>
</div>

<div class="skill-lock"></div></section>
