<div class="submission"><section>
<h2 id="submission">Submission</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
<div class="i-center">
Proceedings:
</div>
<p>
Papers accepted for PROCON 2016 will be included in the ITC 2016 proceedings (electronically and IEEE Xplore). The IEEE reserves the right to remove any paper from IEEE Xplore if the paper is not presented at the workshop.
</p><p>
PLEASE NOTE: To be published in the ITC 2016 Proceedings and to be eligible for publication in IEEE Xplore®, an author of an accepted paper is required to register for the  workshop at the full (member or non-member) rate and the paper must be presented by an author of that paper at the conference [or workshop] unless the TPC Chair grants permission for a substitute presenter arranged in advance of the event and who is qualified both to present and answer questions.  Non-refundable registration fees must be paid prior to uploading the final IEEE formatted, publication-ready version of the paper.  For authors with multiple accepted papers, one full registration is valid for up to 3 papers.  Accepted and presented papers will be published in the ITC 2016 Proceedings and submitted to IEEE Xplore®.
</p>
</div>

<div class="skill-lock"></div></section></div>
