<section class="submission">
<h2 id="submission">Submission</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text-box">
<div class="simple-text-box-left">
Proceedings:
</div>
<div class="simplex-text-box-right">
<p>
Papers accepted for PROCON 2016 will be included in the ITC 28 proceedings (electronically and IEEE Xplore). The IEEE reserves the right to remove any paper from IEEE Xplore if the paper is not presented at the workshop.
</p><p>
PLEASE NOTE: To be published in the ITC 28 Proceedings and to be eligible for publication in IEEE Xplore®, an author of an accepted paper is required to register for the  workshop at the full (member or non-member) rate and the paper must be presented by an author of that paper at the conference [or workshop] unless the TPC Chair grants permission for a substitute presenter arranged in advance of the event and who is qualified both to present and answer questions.  Non-refundable registration fees must be paid prior to uploading the final IEEE formatted, publication-ready version of the paper.  For authors with multiple accepted papers, one full registration is valid for up to 3 papers.  Accepted and presented papers will be published in the ITC 28 Proceedings and submitted to IEEE Xplore®.
</p>
</div>
</div>

<div class="simple-text-box">
<div class="simple-text-box-left">
Submission:
</div>
<div class="simplex-text-box-right">
<p>
Paper submissions must present original, research or experiences. Late-breaking advances and work-in-progress reports from ongoing research are also encouraged. Only original papers that have not been published or submitted for publication elsewhere can be submitted. Each submission must be written in English, accompanied by a 75 to 200 word abstract and a list of up to 5 key words. There is a length limitation of 6 pages (including title, abstract, figures, tables, and references) for full papers and of 3 pages for short papers. Papers exceeding these limits, multiple submissions, and self-plagiarized papers may be rejected without further review.
</p><p>
At least one author of accepted papers must be present at the workshop, to present the paper. Accepted and presented papers will be published in the conference proceedings (electronically and IEEE Xplore) and submitted to IEEE Xplore as well as other Abstracting and Indexing (A&I) databases.
Submissions must be in IEEE 2-column style, A4 format. Templates for both Latex & Word can be found at the following link: <a class="highlight" href="http://itc28.org/_Resources/Persistent/925a55decc306247f9ef0688a2fba0b7bcfc99d7/ieee-template-2column.zip">Submission Template</a>.
</p>
<p>
Authors should submit their papers in PDF, postscript, or Word formats via EDAS.
</p>
</div>
</div>

<div class="simple-text-caption">
<a class="biglink" href="https://edas.info/N21285" style="font-size: 57.9333px;">Submit Now</a>
</div>

<div class="skill-lock"></div></section>
