<section class="topics">
<h2 id="topics">Topics of Interest</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
<p>
The following topics fall within the target area of the workshop:
</p>
<ul>
<li>energy efficiency and cloud/network management approaches</li>
<li>personal cloud and network virtualization technologies</li>
<li>architectures for SDN and NFV in legacy and 5G networks</li>
<li>user mobility and application/service proximity</li>
<li>personal cloud services and the Internet of Things</li>
<li>management and monitoring of QoS/QoE over programmable networks</li>
<li>cloud and network operating systems</li>
<li>software development approaches over programmable infrastructure</li>
<li>software engineering for DevOps</li>
<li>distributed applications deployment and orchestration frameworks</li>
<li>service chaining approaches based on building of microservices</li>
<li>virtualization technology, management of Virtual Network Functions (VNFs) and enablers</li>
<li>architectural models, prototype implementations and applications</li>
<li>Internet of Things architectural models, prototype implementations and applications</li>
<li>extensions to IaaS, PaaS and SaaS concepts and interfaces</li>
</ul>
</div>

<div class="simple-text-caption">
<p>
<b>
Authors are invited to submit papers, which fall within the areas mentioned above or are related to them.
</b>
</p>
</div>


<div class="skill-lock"></div></section>
